table tr td a {
    cursor: pointer;
}

.page-control {
    width: 60px;
    padding:  3px 6px;
    border-radius: 3px;
    border: solid 1px #ccc;
    margin: 0 10px;
}
.sort-icon{
    opacity: 0.4;
    float: right;
}

table tr td {
    white-space: nowrap;
}

table tr th {
    cursor: pointer;
}

.textInput{
    width: 200px;
    height: 35px;
    padding:  3px 6px;
    border-radius: 3px;
    border: solid 1px #ccc;
    margin: 0 10px;
}
